.home {
  background-image: url('../assets/homebg.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.align{
  display: flex;
}
.genesis {
  height:35rem;
  margin-top: -1rem;
  margin-left: 12rem;
}
.genesis img {
  height: 30rem; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure responsiveness */
}

.bg img {
  height: 40rem;
  max-width: 100%;
  margin-right: 25rem;
}

.register{
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 4rem;
  width: 10rem;
  background: linear-gradient(135deg, #DC2626, #783232); /* Gradient background */
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease; 
  outline: none;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(135deg, #DC2626, #783232);
  transform: scale(1.05); /* Slight pop effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

