.home {
  background-image: url('../assets/homebg.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.align {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

.genesis {
  height: 35rem;
  margin-top: -1rem;
  margin-left: 12rem;
}

.genesis img {
  height: 30rem; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure responsiveness */
}

.bg img {
  height: 40rem;
  max-width: 100%;
  margin-right: 25rem;
}

.register {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 4rem;
  width: 10rem;
  background: linear-gradient(135deg, #000346, #8e9998); /* Gradient background */
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease; 
  outline: none;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(135deg, #DC2626, #783232);
  transform: scale(1.05); /* Slight pop effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.98); /* Corrected scale value */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .genesis {
    margin-left: 6rem;
  }

  .bg img {
    margin-right: 12rem;
  }

  button {
    font-size: 1.5rem;
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .genesis {
    margin-left: 2rem;
    height: auto;
  }

  .bg img {
    margin-right: 0;
    height: auto;
  }

  button {
    font-size: 1.2rem;
    width: 6rem;
  }
}

@media (max-width: 480px) {
  .home {
    background-position: 150vw 10vh; /* Adjust background position */
  }
  .genesis {
    margin-left: 2rem;
    margin-top: -5rem;
    height: auto;
    max-width: 80%;
  }

  .bg img {
    height: auto;
  }

  button {
    font-size: 1rem;
    width: 7rem;
    height: 3rem;
  }

  .timer {
    font-size: 1.5rem;
    width: 90vw;
  }
  
  .align {
    margin-top: 10vw;
  }

  .register {
    margin-top: 5vh;
    justify-content: center;
  }
}
