.memories {
    position: relative;
    text-align: center;
   
  }
  
  
  
  .timeline {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(6, 6, 6);
    text-align: left;
    margin: auto;
    width: 90%;
    font-family: "Berlin Sans", sans-serif;
  }
  
  .memories-img {
    transform: scale(0.9);
    max-width: 100%;
    height: auto;
  }
  