.memories {
    position: relative;
    text-align: center;
  } 
  
  .timeline {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;
    font-family: "Berlin Sans", sans-serif;
  }
  
  .memories-img {
    transform: scale(0.9);
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 480px) {
    .timeline {
      font-size: 3rem;
    }

    .memories {
      margin-top: 3rem;
    }

    .memories-img {
      transform: scale(0.7);
      width: 100%;
    }
  }
